// General variables for items
$w-item: 200px;
$h-item: 200px;

// Specific rules for each item
$icons: (
    paper:(
        "class-name": "paper",
        "url": './assets/images/icon-paper.svg',
        "light-color": $c-paper-light,
        "dark-color": $c-paper-dark,
        ),
    scissors: (
        "class-name": "scissors",
        "url": './assets/images/icon-scissors.svg',
        "light-color": $c-scissors-light,
        "dark-color": $c-scissors-dark,
        ),
    rock: (
        "class-name": "rock",
        "url": './assets/images/icon-rock.svg',
        "light-color": $c-rock-light,
        "dark-color": $c-rock-dark,
        )
);