.gr-infos {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    @include mobile {
        order: 3;
    }

    &__title,
    &__button {
        text-transform: uppercase;
    }

    &__title {
        font-size: 48px;
        margin: 1rem 0;
    }

    &__button {
        background-color: $c-light;
        border-radius: $bd-radius-lg;
        width: 5rem;
        padding: 7% 25%;
        color: $c-dark;
        text-decoration: none;
        transition: color .6s ease;

        &:hover {
            color: $c-rock-light;
            transition: color .6s ease;
        }
    }
}