footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: map-get($breakpoints, lg);
    
    @include mobile {
        justify-content: center;
    }

    // Handle link rules button
    .rules-button {
        color: $c-light;
        border: solid 1px $c-light;
        padding: 0.5rem 2rem;
        border-radius: $bd-radius-sm;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
    }
}