// Defines general rules for each game item

@mixin game-item {
    box-sizing: border-box;
    width: $w-item;
    height: $h-item;
    border-radius: $bd-radius-circle;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include mobile {
        width: calc(#{$w-item} / 1.5);
        height: calc(#{$h-item} / 1.5);
    }
}

@mixin game-logo {
    width: 80%;
    height: 80%;
    border-radius: $bd-radius-circle;
    background-color: $c-radial-dark;
}