// Style rules for header element
header {
    //* General header settings
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
    padding: 0.85rem 1.25rem;
    border: solid 3px $c-header-outline;
    border-radius: $bd-radius-lg;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    // Media queries
    @include mobile {
        padding: 0.65rem;
        width: 80%;
    }

    //* Main-title block
    .main-title {
        box-sizing: border-box;
        width: 4.5rem;
        font-size: 100%;
        padding-left: 0.5rem;
        border-radius: $bd-radius-sm;

        h1 {
            text-transform: uppercase;
            line-height: .8;
            margin: 0;
        }

        // Media queries 
        @include mobile {
            h1 {
                font-size: 18px;
            }
        }
    }
}