.game-result {
    width: 65%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: -200%;
    right: 0;
    bottom: 0;
    margin: auto;

    @include mobile {
        width: 90%;
        height: auto;
    }
}